/*---------- All ---------*/
* {
    margin:0;
    top: 0;
    left: 0;
}
/*---------- Body ---------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url('../img/texture/feathers.png') ;
}
/*---------- Header ---------*/
header{
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #EC2027;
}

.title{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  font-size: 4em;
}
/*---------- Nav ---------*/
  nav{
  display: inline-flex;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  overflow: hidden;
  }

nav a {
  float: left;
  width: 15%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover{
background-color: #EC2027;
cursor: pointer;
}

nav a.active{
  color: white;
  text-decoration: none;
  background-color:  #EC2027;

}

/*---------- Footer ---------*/
footer{
    width: 100%;
    height: 5%;
    background-color: blue;
    position: inherit;
    bottom:0;
}

/*---------- Main ----------*/
main{
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}
/*---------- Job Container ----------*/
.jobContainer{
    background-color: white;
    margin: 5px auto;
    border-radius: 5px;
    height: auto;
    width: 80%;
    padding: 2%;
    border: 1px solid;
    box-shadow: 5px 10px 8px 10px #888888;
}

/*---------- Job Row ----------*/
#jobs tr:nth-child(even){background-color: #f2f2f2;}

#jobs tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

#jobs{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    margin: 25px auto 25px auto;
  }

#jobs td, #jobs th {
    border-bottom: 1px solid firebrick;
    padding: 8px;
  }

#jobs th{
    padding: 8px;
    text-align: left;
    background-color: #EC2027;
    color: white;
}

#jobs a{
    text-decoration: none;
    color: black;
}

/*---------- Side Bar ---------*/
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  min-width: 15VW; /* Set the width of the sidebar */
  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #EC2027; /* Red */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 100%;
  color: white;
  background-color: #EC2027;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}
  
.btn:hover {
  background-color: hsla(0, 0%, 45%, 0.247);
}
  
.btn.active {
  background-color: #EC2027;
  color: white;
}

/*---------- Cover Page ---------*/
.coverPage{
  height: 90%;
  width: 100%;
}

#logo {
  height: 20%;
  width: 40%;
  padding: 2.5% 30% 0% 30%;
  margin: 0 auto;
}

#house {
  height: 20%;
  width: 40%;
  padding: 2.5% 30% 0% 30%;
  margin: 0 auto;
}

/*---------- Main Container ---------*/
.contractContainer {
  margin-left: 15%; /* Same as the width of the sidenav */
  position: fixed;
  left: 0;
  top: 0;
}

/*---------- Scope Of Work Side Navagation ----------*/
.sideNav {
  height: 100VH;
  width: 15%;
  position: sticky;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 14px 16px;
}

.sideNav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.sideNav ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideNav li:hover {
  background-color: #EC2027;
}

.sideNavTitle {
  color: white;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*---------- Page ----------*/
.page{
  width: 595px;
  height: 842px;
  margin: 25px auto;
  background-color: white;
}

.pageHeader{
  top: 0;
  height: 50px;
  width: 100%;
  background-color: blue;
}

.pageFooter{
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: blue;
}

/*---------- Add Job Form ----------*/
form{
  display: grid;
  grid-template-columns: 20% 50%;
  column-gap: 1px;
}

.formHeader{
  height: 5VH;
  width: 100%;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.formHeader h4{
  padding: 10px;
}

#addForm{
  border: 5px, solid, black;
  border: 5px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px;
}

#addForm p {
  margin-right: 20px;
}

#jobCover{
  width: 250px;
  height: 250px;
  float: left;
  border: 3px, solid, black;
}
  
label {
  font-size: 12px;
  margin-top: 5px;
  margin-right: 15px;
  font-weight: bold;
}
  
input {
  height: 20px;
  width: 50%;
  border: 1px solid #000;
  margin-top: 10px;
}

input[type=text], textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
  
input[type=text]:focus, textarea:focus{
  box-shadow: 0 0 5px #EC2027;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #EC2027;
}
    
/*---------- Add Job Form Radio Buttons ----------*/
input[type=radio] {
  transition: all 0.30s ease-in-out;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
 
input[type=radio]:focus{
  box-shadow: 0 0 10px #EC2027;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  top: -5px;
  left: -5px;
  border-radius: 15px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #EC2027;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
/*---------- View Job --------*/
#jobDetails{
  display: grid;
  grid-template-columns: 20% 50%;
  column-gap: 1px;
  border: 5px, solid, black;
  border: 5px solid dodgerblue;
  border-radius: 5px;
  box-shadow: 0 0 5px dodgerblue;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px;
}
/*---------- Media Queries ----------*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






























    select {
        height: 20px;
        width: 50%;
        border: 1px solid #000;
        margin-top: 10px;
        transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
    }

    select:focus { 
        box-shadow: 0 0 5px #EC2027;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #EC2027;
    }

    

    button{
        color: white;
        padding: 5px;
        width: 66px;
        height: 33px;
        background-color: red;
        border-radius: 5px;
        cursor: pointer;
        display: inline;
    }
    
    select {
        font-size: 12px;
    }

/*---------- Image Viewer ----------*/
 .column{
  height: 100%;
  }
  
  .row {
  padding: 5px;
  display: none; /* Hide columns by default */
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: inline-block;
    float: right;
  }

  /* Content */
  .content {
    background-color: white;
    border-top: 3px solid #EC2027;
    border-radius: 3px;
    height: 20VH;
  }

  .content img {
      height: 90%;
      width: 15%;
      border: 2px solid grey;
      border-radius: 3px;
      object-fit: cover;
      margin: 5px;
      float: right;
  }

.text {
      height: 90%;
      width: 25%;
      margin: 5px;
      padding: 5px;
      float: left;
}

h2{
line-height: 5px;  
display: inline-block;
}

h4{
  display: inline-block;
}

p{
  display: inline-block;
}

/* ----------------------------------------------------- */
