.salesDoc{
  margin: 90px auto;
  transform: scale(1);
}

.page {
  position: relative;
  size: "A4";
  width: 595px;
  height: 842px;
  background: white;
  margin: 2vh auto 0 auto;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  transform: scale(1);
}

.subpage {
  padding: 1.5cm;
  height: 100%;
  width: 100%;
  outline: 1.5px dodgerblue dashed;
  outline-offset: -1.5cm;
}

.pageHeader{
  background-image: url("../img/logo/logo.png");
  background-size: 25% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5cm;
  width: 100%;
}

.pageFooter{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5cm;
  width: 100%;
  text-align: center;
}

#hozLine{
  height: 2px;
  background-color: var(--red);
  width: 443px;
  margin: 0 auto 3px auto;
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(.5, var(--red)), color-stop(0.98, white) )
}

/*---------- Images ----------*/
.salesImages{
  height: 180px;
  width: 180px;
  background-image: url("../img/sales/default.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*---------- Cover Page ---------*/
.coverPage{
    height: 100%;
    width: 100%;
  }
  
  #logo {
    height: 30%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border: none;
  }
  
  #house {
    height: 40%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }

  #title{
    height: 40%;
    width: 100%;
    text-align: center;
  }

/*---------- Main Page - Page 1 ---------*/
#mainPageTable{
  margin: 0;
  width: 100%;
}

#mainPageTable .a {
  width: '70%';
  font-weight: 700;
  font-size: 14px;
}

#mainPageTable .b {
  width: '70%';
  text-align: right;
  font-size: 14px;
}

.blankRow
{
    height: 14px !important; 
}

/*---------- Media Queries ----------*/
  /* @media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
} */
