body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: rgb(204,204,204); 
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.salesDoc{
    height: auto;
    width: 80%;
    margin: 0 auto;
    transform: scale(1);
    position: relative;

}

.page {
    size: "A4";
    background: white;
    width: 21cm;
    height: 100VH;
    margin: 0.5% auto 0.5% auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    transform: scale(1);
}

.pageHeader{
    
}

.pageFooter{
    
}

.subpage {
    padding: 2cm;
    height: 100%;
    width: 100%;
    outline: 2px dodgerblue dashed;
    outline-offset: -2cm;
}

/*---------- Cover Page ---------*/
.coverPage{
    height: 85%;
    width: 100%;
  }
  
  #logo {
    height: 40%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
  }
  
  #house {
    height: 40%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
  }

  #title{
    height: 40%;
    width: 100%;
    text-align: center;
  }

  /*---------- Page ----------*/
.page{
    width: 595px;
    height: 842px;
    margin: 25px auto;
    background-color: white;
  }
  
  .pageHeader{
    top: 0;
    height: 50px;
    width: 100%;
    background-color: blue;
  }
  
  .pageFooter{
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: blue;
  }

/*---------- Media Queries ----------*/
  @media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}